:root {
  --theme-1: #010615;
  --theme-2: #292930;
  --theme-3: #08121c;
  --theme-4: #18beba;
  --theme-5: #28485f;
  --theme-6: #464b4e;
  --theme-7: #c1c6c9;
  --theme-8: #efefef;

  --spacing-1: 4px;
  --spacing-2: 8px;
  --spacing-3: 12px;
  --spacing-4: 20px;
  --spacing-5: 32px;
  --border-radius: 5px;
  --font-family: "Courier New", Roboto, Helvetica, Arial, sans-serif-black;
  --font-size: 14px;
  --font-size-lg: 16px;
}

* {
  box-sizing: border-box;
}

#c2d {
  background: var(--theme-1);
  image-rendering: pixelated;

  clip-path: polygon(
    0 8%,
    4% 0,
    100% 0,
    100% 10%,
    100% 100%,
    95% 100%,
    5% 100%,
    0% 90%
  );
}

html,
body {
  margin: 0;
  background: var(--theme-1);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  font-family: var(--font-family);
  font-size: var(--font-size);
}

/* .interface {
  position: relative;
  width: 1280px;
  height: 600px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--theme-1);
  clip-path: polygon(
    0 10%,
    5% 0,
    95% 0,
    100% 10%,
    100% 100%,
    95% 100%,
    5% 100%,
    0% 90%
  );
  /* border: 1px solid var(--theme-5); */
/* box-shadow: inset var(--theme-4) 2px 2px;
} */

.interface {
  width: 1280px;
  height: 600px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--theme-1);
  position: relative;
  --mask: linear-gradient(
      45deg,
      #0000 28.28px,
      #000 0 calc(28.28px + 10px),
      #0000 0 calc(100% - 28.28px - 10px),
      #000 0 calc(100% - 28.28px),
      #0000 0
    ),
    linear-gradient(
      -45deg,
      #0000 28.28px,
      #000 0 calc(28.28px + 10px),
      #0000 0 calc(100% - 28.28px - 10px),
      #000 0 calc(100% - 28.28px),
      #0000 0
    ),
    linear-gradient(90deg, #000 20px, #0000 0) -10px 50%/100% calc(100% - 80px) repeat-x,
    linear-gradient(#000 20px, #0000 0) 50% -10px / calc(100% - 80px) 100% repeat-y;
}

.interface:before {
  content: "";
  position: absolute;
  inset: 0;
  background: var(--theme-5);
  -webkit-mask: var(--mask);
  mask: var(--mask);
  z-index: 9;
  pointer-events: none;
}

button {
  font-family: var(--font-family);
  font-size: var(--font-size);
}

.controls {
  padding: var(--spacing-4);
  height: 600px;
  width: 300px;

  background: var(--theme-1);
  background: linear-gradient(
    180deg,
    var(--theme-1) 0%,
    var(--theme-2) 50%,
    var(--theme-1) 100%
  );

  color: var(--theme-4);
  overflow: hidden;
  overflow-y: auto;
}

.controls button {
  margin: 0 0 var(--spacing-2);
}

.controls h3 {
  margin: 0 0 var(--spacing-2);
}

.controls .grid {
  display: grid;
  grid-template-columns: 50% 50%;
  gap: 10px;
}

.controls .grid .grid-item {
  height: 120px;
}

.controls button:last-of-type {
  margin: 0;
}

.controls section {
  margin-bottom: var(--spacing-5);
}

.controls section:last-of-type {
  margin-bottom: 0;
}

.m-0 {
  margin: 0;
}

.d-none {
  display: none;
}

.progress-bar {
  width: 100%;
}

.button {
  background: var(--theme-1);
  color: var(--theme-4);
  padding: var(--spacing-2) var(--spacing-2);
  text-align: center;
  width: 100%;
  font-size: var(--font-size-lg);

  border: 2px solid var(--theme-7);
  border-left-color: var(--theme-6);
  border-bottom-color: var(--theme-6);

  border-radius: var(--border-radius);
}

.button:active {
  border: 2px solid var(--theme-6);
  border-left-color: var(--theme-7);
  border-bottom-color: var(--theme-7);
}

.button:disabled {
  color: var(--theme-6);
  border-color: var(--theme-6);
}

.button.deploy {
  width: 100%;
  height: 110px;
  cursor: pointer;

  font-size: 12px;

  padding: var(--spacing-1);
  color: var(--theme-8);

  display: flex;
  align-items: flex-end; /* Align items to the bottom */
  justify-content: flex-start; /* Align items to the left */
  text-align: left;
}

.button.deploy span {
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
    1px 1px 0 #000;
  font-weight: bold;
}

.button:disabled.deploy {
  cursor: auto;
  color: var(--theme-7);
  filter: grayscale(100%);
}

.damage-meter {
  height: 600px;
  width: 14px;
  background: var(--theme-6);
  position: relative;
  overflow: hidden;
}

.damage {
  position: absolute;
  top: 0;
  left: 0;
  background: var(--theme-2);
  height: 0;
  width: 100%;
  z-index: 99;
  transition: height 0.5s;
  z-index: 1;
}

.current-health {
  height: 100%;
  background: linear-gradient(#83e067, #f8d46f, #e42841);
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  border: 1px solid var(--theme-1);
}

.form-row label {
  display: block;
}

.tab {
  background: var(--theme-1);
  color: var(--theme-4);
  padding: var(--spacing-2) var(--spacing-2);
  text-align: center;

  border: 0;
  border-top: 1px solid var(--theme-7);

  border-radius: var(--border-radius);
}

.tab.active {
  border-top: 0;
  border-bottom: 1px solid var(--theme-7);
}

.tab-panel {
  display: none;
}

.tab-panel.active {
  display: block;
}

#deploy-infantry {
  background: url("./troopers.png") no-repeat;
  background-size: 100%;
}

#deploy-tank {
  background: url("./negotiator.png") no-repeat;
  background-size: 100%;
}

#deploy-aircraft {
  background: url("./raptor.png") no-repeat;
  background-size: 100%;
}
